/* /========== FOOTER SECTION ===========/ */

.footer_section {
    position: relative;
    width: 100%;
    height: 300rem;
    flex-direction: column;
    position: relative;
}



.releases_container {
    width: 90%;
    max-width: 90rem;
    height: 100rem;
    background: linear-gradient(
        135deg,
        rgba(45, 30, 20, 0.2) 0%,
        rgba(20, 15, 10, 0.4) 100%
    );

    backdrop-filter: blur(0.3rem) saturate(130%);
    flex-direction: row;
    border: 1rem outset rgba(201, 177, 154, 0.555)
}

/* /-----BAR TRACK------/ */

.bar_track {
    width: 25%;
    max-width: 25rem;
    height: 90rem;
    flex-direction: column;
}

.arrow_button {
    width: 10rem;
    height: 5rem;
    padding: 1.5rem 1rem 0.5rem 1rem;
    margin: 2rem;
    cursor: pointer;
    
    clip-path: polygon(
        50% 0,
        100% 100%,
        50% 60%,
        0% 100%
    );

    background: linear-gradient(
        to right,
        rgba(210, 180, 140, 0.8), 
        #fff
    );

    backdrop-filter: blur(0.3rem) saturate(130%);
    
}

.arrow_button > div {
    width: 100%;
    height: 100%;
    clip-path: inherit;
    background-color: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(0.3rem) ;
}

.track_button {
    list-style: none;
    width: 15rem;
    height: 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
    position: relative;
}

.track_button::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: linear-gradient(
        rgba(210, 180, 140, 0.8), 
        #fff
    );
    border-radius: 50% 50%;
    position: absolute;
    left: -3rem;
    z-index: 1000;
}

.track_button::after {
    content: "";
    display: block;
    width: 0.3rem;
    height: 5rem;
    background-color: var(--white);

    position: absolute;
    left: -2.6rem;
    z-index: 100;
}

.selected::before {
    background: rgb(223, 222, 156);
    width: 2rem;
    height: 2rem;
    clip-path: polygon(
        0 0,
        50% 35%,
        100% 0%,
        calc(100% - 35%) 50%,
        100% 100%,
        50% calc(100% - 35%),
        0 100%,
        35% 50%
    );
    left: -3.4rem;
    border-radius: 0 0;
}

.selected {
    font-size: 3rem;
    color: rgb(223, 222, 156);
    text-decoration: underline;
}


.track_button:hover {
    font-size: 3rem;

    color: var(--white);
}

.down {
    width: 10rem;
    height: 5rem;
    transform: rotate(180deg);
}

/* /----------------------------------/ */


/* /-----ALBUM CONTAINER------/ */

.album_container {
    width: 60%;
    max-width: 65rem;
    height: 90rem;
    flex-direction: row;
}

.album_frame {
    width: 50%;
    height: 100%;
}

.album_frame > img {
    width: 100%;
    max-width: 30rem;
    border: 1rem solid rgba(210, 180, 140, 0.8);
}

.album_detail {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}

.album_detail > img {
    width: 100%;
    max-width: 20rem;
    padding: 1rem 0;
}

.album_detail > p {
    width: 100%;
}

.album_detail {
    color: var(--white)
}

.album_detail_date {
    text-align: left;
}

.album_detail_title {
    padding: 1rem 0;
    text-align: center;
}

.album_detail_description, .album_detail_description a {
    padding: 1rem;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-all;
}


/* /----------------------------------/ */